/* サイドバーの基本スタイル */
.sidebar {
  width: 20%;
  min-height: 100vh; /* 画面の高さを全て使う */
  padding: 1rem;
  background-color: #d0b4b4; /* グレイッシュな背景色 */
  border-right: 1px solid #ddd; /* 右側の境界線 */
  box-shadow: 2px 0 5px rgb(37 34 50 / 10%); /* 右側に微妙な影をつける */
}

/* サイドバーの項目スタイル */
.sidebarItem {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: #333; /* テキストの色 */
  cursor: pointer;
  border-radius: 5px; /* 角の丸み */
  transition: background-color 0.3s; /* 背景色の変更をスムーズにする */
}

/* ホバーエフェクト */
.sidebarItem:hover {
  background-color: #e5e5e5;
}

/* アクティブな項目のスタイル */
.sidebarItem.active {
  font-weight: bold; /* テキストを太くする */
  background-color: #d4e1ff; /* アクティブな項目の背景色 */
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #f1ecec;
}
